@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(240, 235, 235);
  background-color: rgb(26, 25, 29);
  font-family: 'Red Hat Display', sans-serif;
}

h1 {
  font-family: 'Notable', sans-serif;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  width: 100%;
}

.section-hidden {
  opacity: 0;
  filter: blur(1px);
  transition: opacity 0.7s ease-in-out, filter 0.7s ease-in-out;
}

.section-visible {
  opacity: 1;
  filter: blur(0);
  transition: opacity 0.7s ease-in-out, filter 0.7s ease-in-out;
}

@media(prefers-reduced-motion) {
  .section-hidden {
    transition: none;
  }
}

.landing-page-bg {
  background-image: url("../../public/GALAXYCOVER.png");
}

.white-box-shadow {
  box-shadow: 10px 10px 0px #f0ebeb;
  border-radius: 5px;
}

.skill-box {
  position: relative;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.blur-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-image {
  scale: 90%;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
  margin: 10px;
  object-fit: scale-down;
}

.skill-text {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  color: rgb(240, 235, 235);
  font-weight: 800;
}

.skill-box:hover .skill-text {
  opacity: 1;
  z-index: 1;
}

.skill-box:hover .blur-container {
  filter: blur(5px);
  opacity: 35%;
}

.hover-underline-animation {
  position: relative;
  color: rgb(240, 235, 235);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: rgb(240, 235, 235);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.hover-underline-animation:hover::after {
  visibility: visible;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
